/*import-font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400&display=swap');

/*Paleta de Cores*/
:root {
    --principal: #34495e; /* Azul escuro */
    --destaque: #2ecc71; /* Verde */
    --fundo: #ffffff; /* Branco */
    --detalhes: #95a5a6; /* Cinza */
}



/* Cofiguração padrão*/

body, html {
    margin: 0;
    font: 16px "Lato" sans-serif;
    height: 100%;
    text-align: center;
 }

 header, footer {
    background: var(--fundo);
    border-radius: 8px ;
 }
 /*Cabeçalho*/

.cabecalho {
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 1.8px solid ;
}

.cabecalho-imagem {
    width: 15%;
    height: 120px;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-item {
    font-family: 'Roboto Flex', sans-serif;
    color: var(--principal);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-item:hover {
    border-bottom: 1px solid ;
    color: var(--destaque);    
}

footer {
    width: 100%;
    color: var(--principal);
}

#footer_content {
    background-color: var(--fundo);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    font-size: 1.30rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    right: 3rem;
    color: var(--principal);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    color: var(--destaque);    
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none; 
}

.footer-list .footer-link {
    color: var(--detalhes);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--destaque);
} 

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--detalhes);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--fundo);
    border-radius: 4px;
}

#inút_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: var(--detalhes);
    border: none;
    padding: 0px, 1.25rem;
    font-size: 1.125rem;
    right: 100%;
    border-radius: 0px, 4px, 4px, 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group:hover {
    opacity: 0.8rem;
}

#footer_copyright {
    background-color: var(--destaque);
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
 
/* Efeito Parallax*/

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 12px;
    box-shadow: 3px 4px 3px;
}

.caixa1 {
    background-image: url(../imagens/imagem8.jpg);
}

.caixa2 {
    background-image: url(../imagens/imagem15.jpeg);
}

.caixa3 {
    background-image: url(../imagens/imagem14.jpg) ;
}

.caixa4 {
    background-image: url(../imagens/imagem15.jpeg);
}

.caixa5 {
    background-image: url(../imagens/imagem5.jpg);
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.conteudo-titulo span.titulo {
    color: var(--fundo);
    background-color: var(--detalhes);
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    border-radius: 12px;
    box-shadow: 0.75px 1.25px;
}
