/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400&display=swap');

/* Definição da paleta de cores */
:root {
    --principal: #34495e; /* Azul escuro */
    --destaque: #2ecc71; /* Verde */
    --fundo: #ffffff; /* Branco */
    --detalhes: #95a5a6; /* Cinza */
}

/* Configuração padrão */
body, html {
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    height: auto;
    text-align: center; /* Centraliza o texto */
}

header, footer {
    background: var(--fundo); /* Cor de fundo */
    border-radius: 8px; /* Bordas arredondadas */
}

img {
    max-width: 100%; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da altura */
}

.conteudo{
    font-size: 20px;
}

/* Swiper Gallery */
.swiper {
    height: 60%; /* Altura da galeria de imagens */
    padding: 5%; /* Espaçamento interno */
}

/* Ajuste geral para as imagens dentro do swiper */
.swiper img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    border-radius: 8px;
}

/* Media Queries para Swiper Gallery */
@media (min-width: 1024px) {
    .swiper img {
        width: 30vw; /* Ajuste para maior viewport */
        height: 30vw;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .swiper img {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width: 768px) {
    .swiper img {
        width: 60vw;
        height: 60vw;
    }
}

@media (max-width: 450px) {
    .swiper img {
        width: 80vw;
        height: 80vw;
    }

    .swiper {
        height: 270px; /* Ajusta a altura da galeria para telas menores */
    }
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Cabeçalho */
.cabecalho {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 1.8px solid;
}

.cabecalho-texto {
    font-size: 2.5rem; /* Ajuste o tamanho do texto conforme necessário */
    color: var(--principal);
    padding: 0.5rem;
}


.cabecalho-menu {
    display: flex;
    gap: 16px;
}

.cabecalho-item {
    color: var(--principal);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-item:hover {
    border-bottom: 1px solid;
    color: var(--destaque);
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fundo);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--principal);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--fundo);
    border-bottom: 1px solid;
    color: var(--destaque);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Rodapé */
footer {
    bottom: 0;
    width: 100%;
    color: var(--principal);
}

#footer_content {
    background-color: var(--fundo);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 3rem 3.5rem;
    gap: 5rem;
    text-align: left;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    font-size: 1.30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    color: var(--principal);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    color: var(--destaque);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--detalhes);
    transition: all 0.4s;
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: var(--destaque);
}

#footer_copyright {
    background-color: var(--destaque);
    color: var(--fundo);
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    padding: 1.2rem;
}

#footer_copyright a:link, #footer_copyright a:visited {
    color: inherit;
    text-decoration: none;
}

.developer {
    font-weight: normal;
    margin-left: 5px;
}

/* Efeito Parallax */
.bem-vindo, .breve-introducao, .apoiamos, .venha-conosco, .projetos, .caixa5 {
    position: relative;
    min-height: 90vh; /* Ajuste a altura mínima para garantir boa exibição */
    max-width: 100%;
    background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
    background-position: center;
    background-attachment: scroll; /* Ajuste para fixed se necessário */
    border-radius: 12px;
    box-shadow: 3px 4px 3px;
}

/* Imagens de fundo */
.bem-vindo { background-image: url(../imagens/capa.jpeg); }
.breve-introducao { background-image: url(../imagens/imagem8.jpeg); }
.apoiamos { background-image: url(../imagens/imagem19.jpeg); }
.venha-conosco { background-image: url(../imagens/imagem18.jpeg); }
.projetos { background-image: url(../imagens/projeto.jpeg); }

/* Ajustes para telas menores */
@media (max-width: 1024px) {
    .bem-vindo, .breve-introducao, .apoiamos, .venha-conosco, .projetos, .caixa5 {
        min-height: 70vh; /* Ajusta para telas médias */
        box-shadow: 2px 3px 2px; /* Ajusta a sombra para telas menores */
    }
}

@media (max-width: 768px) {
    .bem-vindo, .breve-introducao, .apoiamos, .venha-conosco, .projetos, .caixa5 {
        min-height: 50vh; /* Ajusta para telas pequenas */
        background-attachment: scroll; /* Ajusta para desempenho em dispositivos móveis */
        border-radius: 8px; /* Reduz o raio da borda em telas menores */
    }
}

@media (max-width: 426px) {
    .bem-vindo, .breve-introducao, .apoiamos, .venha-conosco, .projetos, .caixa5 {
        min-height: 40vh; /* Ajusta para telas muito pequenas */
    }
}

/* Imagens clicáveis com efeito de zoom */
.zoomable-img {
    transition: transform 0.5s ease;
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.zoom {
    transform: scale(2);
}

@media (max-width: 768px) {
    .zoom {
        transform: scale(1.5);
    }
}

/* Ajuste as margens laterais dos elementos com a classe .conteudo */
.conteudo {
    margin-left: 10px; /* Margem padrão */
    margin-right: 10px; /* Margem padrão */
}

/* Margens maiores para telas médias */
@media (min-width: 768px) {
    .conteudo {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Margens ainda maiores para telas grandes */
@media (min-width: 1024px) {
    .conteudo {
        margin-left: 30px;
        margin-right: 30px;
    }
}
