/*import-font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400&display=swap');

/*Paleta de Cores*/
:root {
    --fundo:  #dcebe6;
    --hover:  #afd4e0;
    --borda:  #36987f;
    --sombra: #3a415a;
    --fonte:  #34344e;
}

/* Cofiguração padrão*/

body, html {
    margin: 0;
    font: 16px "Lato" sans-serif;
    height: 100%;
 }

 header, footer {
    background: var(--fundo);
    border-radius: 8px ;
 }

.cabecalho {
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 1.8px solid var(--borda);
}

.cabecalho-imagem {
    width: 15%;
    height: 120px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-item {
    font-family: 'Roboto Flex', sans-serif;
    color: var(--fonte);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-item:hover {
    border-bottom: 1px solid var(--borda);
    color: var(--hover);    
}

.rodape {
    border-top: 1.8px solid var(--borda);
    border-bottom: 1.8px solid var(--borda);
    margin-bottom: 8px;
    padding: 20px;
    text-decoration: none;
    color: var(--fonte);
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.redes-sociais img {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 50%;
    box-shadow: 4px 5px 4px var( --sombra);
}

.redes-sociais img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);    
}

/* Efeito Parallax*/

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 12px;
    box-shadow: 3px 4px 3px;
}

.caixa1 {
    background-image: url(../imagens/imagem8.jpg);
}

.caixa2 {
    background-image: url(../imagens/imagem1.jpg);
}

.caixa3 {
    background-image: url(../imagens/imagem14.jpg) ;
}

.caixa4 {
    background-image: url(../imagens/imagem4.jpg);
}

.caixa5 {
    background-image: url(../imagens/imagem5.jpg);
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.conteudo-titulo span.titulo {
    color: #fff;
    background-color: #4d877e;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    border-radius: 12px;
    box-shadow: 0.75px 1.25px;
}

/* Media query para telas pequenas (Smartphones) */
@media screen and (max-width: 576px) {
    .conteudo {
        padding: 30px 20px; /* Ajuste o espaçamento conforme necessário */
    }
}

/* Media query para telas médias (Tablets) */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .conteudo {
        padding: 50px 80px; /* Ajuste o espaçamento conforme necessário */
    }
}

/* Media query para telas grandes (Computadores) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .conteudo {
        padding: 70px 100px; /* Ajuste o espaçamento conforme necessário */
    }
}

/* Media query para telas extra grandes (TVs e monitores grandes) */
@media screen and (min-width: 1201px) {
    .conteudo {
        padding: 90px 120px; /* Ajuste o espaçamento conforme necessário */
    }
}
